[data-theme=dark] {
  color: hsla(0, 0%, 96%, 0.85);
  #app {
    background: #000;
  }
  .ant-layout {
    background: #000;
  }

  .ant-layout-header {

    background: #141414;
  }
  .ant-badge {
    color: #ffffff;
  }
  .ant-card-head-title, .ant-layout-header {
    color: #f0f0f0;
  }


  .text-secondary {
    color: #8b949e;
  }

  .ant-card-grid-hoverable:hover {
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 48%), 0 6px 16px 0 rgb(0 0 0 / 32%),
    0 9px 28px 8px rgb(0 0 0 / 20%);
  }

  .ant-card-grid {
    box-shadow: 1px 0 0 0 #434343, 0 1px 0 0 #434343, 1px 1px 0 0 #434343, 1px 0 0 0 #434343 inset,
    0 1px 0 0 #434343 inset;
  }

  .ant-calendar-selected-day .ant-calendar-date {
    color: rgb(0 0 0 / 80%);
  }

  .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
    color: rgb(0 0 0 / 90%);
  }
  .ant-card{
    color: hsla(0,0%,100%,.65);
    background: #141414;
  }
  .ant-card-bordered{
    border: 1px solid #303030;
  }
  .ant-card-head {
    border-bottom: 1px solid #303030;
  }


}
